<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>appProj</title>
  </head>
  <body>

  	<h1>author quote randomizer!</h51>
      <form action="/a" method="post">
      <input type="text" name="authorName" id="an">
      <button type="submit">Submit</button>
      </form>
      

    
        <article>
            <p><%= quote[0].list %></p>
        </article>
      

  
  </body>
</html>