<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>appProj</title>
  </head>
  <body>

  	<h1>author quote randomizer!</h51>


  		<h1><%= quote[input].author %></h1>
  		

  	<% for(let i = 0; i < quote.length; i++) { %>
        <article>
            <p><%= quote[i].list %></p>
        </article>
    <% } %>
  
  </body>
</html>